html{scroll-behavior:smooth;
}
.background {
    /* 替换为你的图片URL */
    background-image: url('/水印？.png');
    /* 图片自动重复 */
    background-repeat: repeat;
    /* 设置背景层的位置 */
    position: fixed; 
    width: 100%;
    height: 100%;
    /* 将背景层置于其他内容之下 */
    z-index: -1; 
}
.video-background{transform:translate(-50%,-50%);
position:fixed;
left:50%;
top:50%;
min-width:100%;
max-height:100%;
width:auto;
height:auto;
z-index:-1000;
object-fit:cover;
}
body{background-image: url('1.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
height:100%;
margin:0;
padding:0;
user-select:none;
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
background-position-x:center;
background-position-y:20%;
}
body::after{content:"";
background:rgba(0,0,0,0.34);
top:0;
left:0;
bottom:0;
right:0;
position:fixed;
z-index:-1;
    
}
a{text-decoration:none;
}
a:hover{text-decoration:none;
color:aqua;
    
}
.h4{cursor: pointer;
z-index: 0;
position: relative;
color:rgb(197,255,246);
text-align:center;
border-radius:70px 152px ;
box-shadow:15px 15px 10px #222121f3;
padding:10px ;
max-width:300px ; 
min-height:200px ;
margin-left:auto;
margin-right:auto;
margin-top:10px ;
background-color:rgba(255,130,130,0.664);
transition:all 0.5s ease-in-out;
    display: grid;
}
.h4:hover{background-color:rgba(130,207,255,0.664);
max-width:500px ;
min-height:250px ;
transition:all 0.5s ease-in-out;
    
}
.h44{
    opacity:0;
transition:all 0.3s ease-in-out;
}
.h4:hover .h44{
    opacity:1;
transition: all 0.3s ease-in-out;
}

.主题背景{background-color:rgba(225,225,225,0.637);
border-radius:30px 30px ;
align-items:center ;
margin-bottom:50px ;
padding:20px ;
box-shadow:15px 15px 10px #516d90f3;
margin-top: 20px;
margin-left:15%;
margin-right: 15%;
    
}
.主题内部{background-color:rgba(91,251,23,0.468);
border-radius:30px 30px ;
width:70%;
align-items:center;
margin-left:auto;
margin-right:auto;
text-align:center;
padding:10px ;
color:#fffffff3;
    
}
ul

li{text-align:left;
margin: 1px 3px;
list-style-type:square;
    
}
button{border-radius:30px 30px ;
width:80px ;
height:40px ;
margin-left:auto;
margin-right:auto;
text-align:center;
background-color:black;
color:white;
display:block;
border:none;
transition:all 0.2s ease-in-out;
    
}
button:hover{background-color:#ffffff;
color:black;
transition:all 0.2s ease-in-out;
    
}
button:active{background-color:#989898;
color:black;
    
}

iframe {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    }
    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* 确保覆盖在iframe上 */
    pointer-events: none; /* 使div本身不可交互 */
    }
    .overlay-content {
    pointer-events: auto; /* 使子元素可交互 */
    }
    #cat{
    text-align: center;
    /*让元素位于页面底部*/
    position: fixed;
    bottom: 0;
    margin-left: 20%;
    background-color: rgba(62, 115, 162, 0);
    width: 70%;
    height: 50%;
    }
    
    
